@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
        ViewData["Title"] = "ROLES";
}

<h1>All Roles</h1>
<p>
        <a asp-action="Create">Create a Role</a>
</p>

<table class="table">
        <tr>
                <th>@Html.DisplayNameFor(m => m.Name)</th>
                <th>Users</th>
                <th>Update</th>
                <th>Delete</th>
        </tr>
        @foreach (var role in Model)
        {
                <tr>
                        <td>@role.Name</td>
                        <td i-role="@role.Id"></td>
                        <td><a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@role.Id">Edit</a></td>
                        <td>
                                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                                        <button type="submit" class="btn btn-sm btn-danger">
                                                Delete
                                        </button>
                                </form>
                        </td>
                </tr>
        }
</table>