@model IEnumerable<FileGoat.Models.Note>

@{
    ViewData["Title"] = "All Notes";
}

<div class="text-center">
    <h4 class="display-4 my-3">Your Notes!</h4>
</div>

<div class="container">
    <div class="row">
        <div class="d-flex mb-3 justify-content-around flex-wrap">
            @foreach (var item in Model)
            {
                <div class="card mx-2 my-2">
                    <div class="card-header">
                        @Html.DisplayFor(model => item.Title)
                    </div>
                    <div class="card-body">
                        <div class="card-text my-2">@Html.DisplayFor(model => item.Content)</div>
                        <div class="card-text">
                            <small class="text-muted">Created on @Html.DisplayFor(model =>
                            item.Created)</small>
                        </div>

                        @if (item.Repo != null)
                        {
                            <div class="card-text">
                                <small class="text-muted">Repo: @Html.DisplayFor(model => item.Repo.Name)</small>
                            </div>
                        }
                        @if (item.Attachment != null)
                        {
                            <div class="card-text my-3">
                                Attachment: <a asp-action="DownloadAttachment"
                                    asp-route-id="@item.Attachment.Id">@item.Attachment.Name</a>
                            </div>
                        }
                    </div>
                    <div class="card-footer">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="row">
        <p class="mt-3 text-center">
            <a asp-action="Create" class="btn btn-primary">Create New</a>
        </p>
    </div>
</div>